body {
  font-family: "Segoe UI", sans-serif;
  background: #f6efe7;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sub {
  font-size: 16px;
  margin: 4px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

th, td {
  border: 2px solid #000;
  padding: 10px;
}

th {
  background: #ffe4c4;
  font-weight: bold;
}

.subj {
  font-weight: 600;
}

/* SUBJECT COLORS */
.microwave { background: #ffd4cc; }
.ccn { background: #d9ecff; }
.mpmc { background: #d6ffe4; }
.pe { background: #fff0b3; }
.lab { background: #e6e6ff; }
.constitution { background: #f0ddff; }
.library { background: #ccffe6; }
.sports { background: #ccff99; }
.soft { background: #ffe0b3; }
.open { background: #d9f2ff; }
.honors { background: #ffddb3; }

/* LUNCH ROW */
.lunch td {
  background: #ffc107;
  font-weight: bold;
}

/* TODAY HIGHLIGHT */
.today {
  background: #66ff99 !important;
  border: 3px solid #000;
}

/* MOBILE */
@media (max-width: 700px) {
  table {
    font-size: 12px;
  }
}
